@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(190, 137, 137);
}

.cad-adm {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: fit-content;
    max-width: 500%;
    max-height: 500%;
    height: 55%;
    width: 30%;
    padding: 25px;
    border: 2px black solid;
    background-color: white;
    box-shadow: 0 20px 15px rgba(0, 0, 0, .25);
}

.cad-adm h1 {
    margin-bottom: 0.5em;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

form label {
    position: relative;
    margin: 2vh 0 1vh 0;
    font-weight: bold;
}


#lb1 {
    margin-top: -0.5em;
}

#lb2 {
    margin-top: -0.5em;
}

#lb3 {
    margin-top: -0.5em;
}

form input {
    display: block;
    max-width: 100vw;
    margin: 1vh 0 3vh 0;
    padding: 1vh 0 0.5vh 0;
    width: 20vw;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
    background-color: rgba(177, 177, 177, 0.527);
}

input:focus {
    border: 2px solid rgb(189, 58, 100);
    background-color: rgb(255, 255, 255);
    transition: 0.1s ease-out;
}

#btn {
    margin: 4vh 0 2vh 0;
    padding: 1vh 0 1vh 0;
    max-width: 100vw;
    min-width: 10vw;
    width: 15vw;
    border-radius: 5px;
    background-color: rgb(189, 58, 100);
    border: none;
    font-weight: bolder;
    font-size: large;
}

#btn:hover {
    transition: 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
}