@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(240, 204, 214);
}

.cad-adm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    height: fit-content;
    width: fit-content;
    padding: 10vh 5vw 15vh 5vw;
    /* border: 2px black solid; */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 20px 15px rgba(0, 0, 0, .25);
    /* max-height: 100vh; 
    height: 80vh;
    width: 35vw;  */
}

.cad-adm h1 {
    margin-bottom: 2em;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}

/* form label {
    margin: 3vh 0 vh 0;
    font-weight: bold;
} */


/* #lb1 {
    margin-top: 1em;
}

#lb2 {
    margin-top: 1em;
}

#lb3 {
    margin-top: 1em;
} */

form input {
    max-width: 100vw;
    margin-bottom: 10vh;
    padding: 0.5vh 0 0.5vh 0;
    width: 28vw;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: 0.5s ease;
}

input:focus {
    border-bottom: 2px solid rgb(189, 58, 100);
    transition: 0.2s ease-out;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    border-bottom: 2px rgb(211, 84, 105) solid;
    -webkit-text-fill-color: rgb(55, 55, 55);
    -webkit-box-shadow: 0 0 0px 1000px rgb(231, 193, 204) inset;
    transition: background-color 5000s ease-in-out 0s;
}

#btn {
    margin-bottom: 1em;
    padding: 1vh 0 1vh 0;
    max-width: 100vw;
    min-width: 10vw;
    width: 28vw;
    align-self: center;
    border-radius: 5px;
    background-color: rgb(189, 58, 100);
    border: none;
    font-weight: bolder;
    font-size: large;
    transition: 0.5s ease;
}

#btn:hover {
    transition: 0.3s ease-in;
    background-color: rgb(110, 8, 40);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    .cad-adm h1 {
        font-size: 15px;
        text-transform: none;
    }

    #btn {
        font-size: small;
    }
}

@media screen and (max-height: 580px) {
    .cad-adm h1 {
        font-size: 15px;
        text-transform: none;
    }
}