@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-size: inherit;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(190, 137, 137);
}

:root {
    --l_grey: rgb(236, 236, 236);
}

.adm {
    background-color: var(--l_grey);
    width: 30vw;
    height: 50vh;
    width: fit-content;
    height: fit-content;
    padding: 4vh 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: sans-serif;
}

h1 {
    font-size: xx-large;
    font-weight: bold;
    padding-bottom: 0.5em;
}

h2 {
    font-size: x-large;
    text-align: left;
    margin-bottom: 1em;
}

a {
    color: rgb(0, 0, 0);
    margin: 1vh 1vw;
}

.tableADM {
    border: 2em;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border: 1px solid;
    border-collapse: collapse;
}

.tableADM th {
    border: 1px solid;
    padding: 12px 15px;
    font-weight: bold;
}

.tableADM td {
    padding: 12px 15px;
    border: 1px solid;
}

.tableADM tbody tr {
    border-bottom: 1px solid;
}

#novo {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1em;
    padding: 1vh 1vw;
    text-decoration-color: black;  
}

#novo:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    transition: ease 0.3s;
}

#voltar {
    color: black;
}

#voltar:hover {
    color: rgb(255, 255, 255);
    transition: ease 0.3s;
}