.text {
    margin: 0.5em;
    background-color: rgb(209, 209, 209);
    width: 100vw;
    padding: 1em;
}

.banco {
    display: flexbox;
    border-style: solid;
    margin-top: 3em;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 30vw;
}

.outro {
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgb(197, 197, 197);
}

.banco2 {
    display: flexbox;
    border-style: solid;
    margin-top: 1em;
    text-align: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
}

img {
    margin-top: 5em;
}