/* .banco {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin-top: 1.5em;
    align-items: center;
    max-width: 100vw;
    max-height: 100vh;
    height: 50vh;
    width: 40vw;
}

#qrcode1 {
    max-width: 18rem;
    max-height: 18rem;
    margin: 2vh 0;
}

.outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    background-color: rgb(197, 197, 197);
    width: 100%;
}

.outro > h1 {
    font-size: larger;
    font-weight: bold;
    margin-top: 1em;
}

.text {
    padding-top: 5.5vh;
    margin-bottom: 4vh;
}

.banco2 {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
    height: 50vh;
    width: 25vw;
    background-color: var(--l_grey);
} */

header {
    background-image: url("../images/gato_1.jpg");
    padding-top: 18vh;
    padding-bottom: 18vh;
}

.banco {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    border: 2px solid black;
    margin: 2vh 0 1vh;
    padding: 4vh 5vw 7vh;
    /* max-height: 500vh;
    max-width: 500%;
    width: 25%;
    max-height: max-content;
    height: 45vh; */
}

.outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 2em; */
    background-color: rgb(197, 197, 197);
    width: 100%;
}

.banco2 {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    border: 2px solid black;
    margin: 2vh 0 1vh;
    padding: 4vh 5vw 7vh;
    background-color: rgb(255, 255, 255);
}

h1, h3 {
    font-weight: bolder;
}

h1 {
    font-size: large;
}

img {
    max-width: 18rem;
    max-height: 18rem;
    margin-top: 3em;
}

/* @media screen and (max-width: 500px) {
    .banco {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .text {
        display: flex;
        flex-direction: column;
        margin: 3vh 2vw 0 0;
    }

    .text h3 {
        margin: 4px;
    }
} */