header {
    background-image: url("../images/gato_1.jpg");
    padding-top: 18vh;
    padding-bottom: 18vh;
}

.banco {
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
    margin-top: 3em;
    align-items: center;
    height: 50vh;
    width: 30vw;
}

.outro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    background-color: rgb(197, 197, 197);
    width: 100%;
}

.outro > h1 {
    font-size: larger;
    font-weight: bold;
    margin-top: 1em;
}

.text {
    padding-top: 5.5vh;
    margin-bottom: 4vh;
}

.banco2 {
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 2em;
    text-align: center;
    align-items: center;
    height: 50vh;
    width: 30vw;
    background-color: var(--l_grey);
}

/* img {

} */