@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(190, 137, 137);
}

.editar-adm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    /* height: fit-content;
    width: fit-content; */
    padding: 10vh 5vw 15vh 5vw;
    border: 2px black solid;
    background-color: white;
    box-shadow: 0 20px 15px rgba(0, 0, 0, .25);
    /* max-height: 100vh; 
    height: 80vh;
    width: 35vw;  */
}

.editar-adm h1 {
    margin-bottom: 2em;
    text-transform: uppercase;
}

a {
    align-self: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0 0 .5vh 0;
}

form input {
    max-width: 100vw;
    margin-bottom: 10vh;
    padding: 0.5vh 0 0.5vh 0;
    width: 25vw;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    transition: 0.5s ease;
}

input:focus {
    border-bottom: 2px solid rgb(189, 58, 100);
    transition: 0.1s ease-out;
}

.btnedit {
    margin-bottom: 1em;
    align-self: center;
    padding: 1vh 0 1vh 0;
    max-width: 100vw;
    min-width: 10vw;
    width: 25vw;
    border-radius: 5px;
    background-color: rgb(189, 58, 100);
    border: none;
    font-weight: bolder;
    font-size: large;
    transition: 0.5s ease;
}

.btnedit:hover {
    transition: 0.3s ease-in;
    background-color: rgb(110, 8, 40);
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    .editar-adm h1 {
        font-size: 15px;
        text-transform: none;
    }

    .btnedit {
        font-size: small;
    }
}

@media screen and (max-height: 580px) {
    .editar-adm h1 {
        font-size: 15px;
        text-transform: none;
    }
}