footer {
    background-color: rgb(133, 48, 73);
    height: fit-content;    
    /* justify-content: space-evenly; */
}

.container {
    
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
}


.intro {
    /* background-color: aliceblue; */
    max-width: 38rem;
    margin: 6vh 3vw 0 3vw;
}
.intro h4 {
    text-align: left;
    font-size: 2.5rem;
    color: white;
}
.intro p {
    margin-top: 2vh;
    font-size: 1.2rem;
    text-align: justify;
    color: rgb(221, 221, 221);
    line-height: 1.5;
}

.col {
    /* background-color: antiquewhite; */
    width: 18rem;
    margin: 6vh 2vw 3vh 1.5vw;
}
.col h4 {
    font-size: 1.8rem;
    text-align: left;
    color: white;
}
.col ul {
    margin-top: 2vh;
}

.col ul li {
    text-align: left;
    font-size: 1.3rem;
    color: rgb(221, 221, 221);
    margin-top: .5rem;
}
.col ul li a {
    color: rgb(221, 221, 221);
}
.col ul li a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}



.f_logo {
    /* background-color: aliceblue; */
    width: 20rem;
}

#logo {
    border-radius: 50%;
    max-width: 14rem;
    max-height: 14rem;
    margin: 6vh 0 0 3vw;
}




/* .footer_links {
    background-color: aquamarine;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_links li {
    background-color: yellow;
    margin: 10vh 0;
}

.footer_links li a {
    color: white;
}

.footer_links li a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
} */