footer {
    background-color: rgb(133, 48, 73);
    height: 15vh;
    display: flex;
    justify-content: space-around;
}

.footer_links {
    /* background-color: aquamarine; */
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer_links li {
    /* background-color: yellow; */
    margin: 10vh 0;
}

.footer_links li a {
    color: white;
}

.footer_links li a:hover {
    color: rgb(0, 0, 0);
    transition: 0.3s ease;
}