/* header {
    background-image: url("../images/pets.jpg");
    padding-top: 18vh;
    padding-bottom: 18vh;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 1vh 0 5vh;
    flex-wrap: wrap;
}

form {
    display: block;
    font-family: sans-serif;
    width: 50vw;
    background-color: rgb(255, 255, 255);
}

form > h1 {
    font-size: x-large;
    font-weight: bold;
}

h1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.a {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.b {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

.c {
    display: flex;
    flex-direction: column;
}

form, #ip1, #ip2, #is1 {
    padding: 0.5em;
    text-align: left;
    margin-left: 2em;
    margin-right: 2em;
    border: 1px solid rgb(0, 0, 0);
}

#is1 {
    cursor: pointer;
}

#p1, #p2, #esc {
    display: flex;
    margin-left: 2em;
    margin-bottom: 1em;
}

.checkbox {
    margin-top: 8em;
    margin-bottom: 2em;
}

form select {
    padding: 0.5em;
    width: 10vw;
    margin-left: 2em;
}

#btn {
    padding: 0.5em;
    margin-bottom: 1em;
    width: 10vw;
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}


.d {
    background-color: #ccc;
}
textarea {
    border: 1px solid #ccc;
} */



form {
    background-color: rgb(255, 255, 255);
    min-width: 50vw;
    display: flex;
    flex-direction: column;
    margin: 4vh;
    padding: 5vh 2.5vw;
    font-family: sans-serif;
    border-radius: 13px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, .25);
}

h1 {
    font-size: x-large;
}

label {
    align-self: flex-start;
    margin: 3vh 0 1vh;
}

input {
    padding: 1rem;
    text-align: left;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1.5px solid #b2b2b2;
}

input:focus, textarea:focus {
    background-color: white;
    border-color: #a74a69;
}

textarea {
    text-align: left;
    padding: 1rem;
    max-width: 45vw;
    max-height: 25vh;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1.5px solid #b2b2b2;
    text-align: justify;
}

#result {
    align-self: flex-end;
    margin-top: .8vh;
    color: #5a5a5a;
}

#btn {
    margin-top: 5vh;
    text-align: center;
    align-self: center;
    width: 10rem;
    background-color: rgb(134, 134, 134);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.3s;
}

#btn:hover {
    background-color: rgb(170, 170, 170);
    color: rgb(0,0,0);
    transition: 0.3s ease;
}