.a {
    background-color: var(--white);
    width: 80vw;
    margin: 2.2vw auto 0 auto;
}

.b {
    background-color: var(--white);
    width: 80vw;
    margin: 4vh auto;
    display: flex;
    justify-content: space-around;
}

header {
    background-image: url("../images/gato_cachorro.jpg");
    padding-top: 25vh;
    padding-bottom: 30vh;
}


article {
    display: flex;
}

figure>img {
    max-width: 100%;
    height: auto;
}

.text {
    /* background-color: rgb(250, 202, 202); */
    width: 40vw;
    padding: 6vh 0;
    display: flex;
    flex-direction: column;
}

.row2 .text {
    align-items: end;
}

.row1 .text p {
    text-align: left;
    width: 35vw;
    padding-left: 2vw;
    line-height: 1.5;
}

.row1 .text h2 {
    text-align: left;
    padding-left: 2vw;
    font-size: 2em;
    margin-bottom: 2vh;
}

.row2 .text>p {
    width: 35vw;
    text-align: right;
    padding-right: 2vw;
    line-height: 1.5;
}

/* .row1 {
    background-color: aliceblue;
} */

.row1 figure, .row2 figure {
    width: 40vw;
    padding: 6vh 0;
}

.row1 figure img, .row2 figure img{
    border-radius: 8px;
}

.row1 figure {
    display: flex;
    justify-content: end;
    padding-right: 2vw;
}

.row2 figure {
    display: flex;
    justify-content: start;
    padding-left: 2vw;
}

/*Segunda section*/

.column {
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: center;
    margin: 1em;
}

.column figure {
    max-width: 25vw;
    padding: 6vh 0 1vh;
}

.column figure img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.column figure img:hover {
    cursor: pointer;
    opacity: 80%;
    transition: 0.3s ease;
}

.column h2 {
    font-size: 1.4em;
}

.column h2:hover {
    cursor: pointer;
    color: rgb(68, 34, 146);
    transition: 0.3s ease;
}

.column p {
    width: 20vw;
    margin-bottom: 5vh;
    line-height: 1.5;
}