@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

nav {
    background-color: rgb(240, 204, 214);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#home {
    display: flex;
    align-items: center;
}

.logo {
    height: 9vh;
    margin: .8vh 1vw .8vh 2vw;
    cursor: pointer;
}

#home {
    color: black;
    font-size: x-large;
}

.nav_links {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 4vh 0; */
    /* margin: 0 2vw; */
}

.nav_links li {
    /* background-color: orange; */
    padding: 4.5vh 4vw;
    transition: 0.4s ease;
}

.nav_links a {
    color: black;
    /* transition-duration: 0.5s; */
    font-family: "Lato", sans-serif;
}

.nav_links a:hover{
    color: rgb(255, 255, 255);
    /* transition: 0.3s ease; */
}

.nav_links a:hover li {
    cursor: pointer;
    background-color: rgb(133, 48, 73);
}