nav {
    background-color: pink;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 6vh;
    margin: .5vh 2vw;
    cursor: pointer;
}

.nav_links {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2.2vh 0 2.2vh 0;
    margin: 0 2vw;
}

.nav_links li {
    /* background-color: pink; */
    margin: 0 4vw;
}

.nav_links li a {
    color: black;
    transition-duration: 0.5s;
}

.nav_links li a:hover {
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}