@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-size: inherit;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(240, 204, 214);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 97vw;
}

#vol {
    background-color: rgb(189, 58, 100);
    color: white;
    width: 20rem;
    max-width: 100vw;
    display: flex;
    align-items: center;
    margin: 2vh 0;
    padding: .5rem;
    text-align: left;
    border-radius: 10px;
}
#vol img {
    filter: invert(100%);
    max-width: 2rem;
}
#vol p {
    margin-left: 1.2rem;
    font-size: 1.1rem;
    font-weight: 700;
}
.info-animal {
    position: relative;
    max-width: 98vw;
    width: 60rem;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    /* border: 1px solid black; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.info-animal h1 {
    font-size: 1.5rem;
    margin: 1em;
    color: black;
    font-weight: 500;
    text-align: center;
}

.info-animal form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#f_pet {
    width: 30rem;
    align-self: center;
    margin-top: 2rem;
}

#change {
    align-self: center;
    margin-top: 1rem;
}

#change:hover {
    color: rgb(189, 58, 100);
}

img {
    height: auto;
    max-width: 100%;
}

form label {
    margin-top: 25px;
    color: black;
}

form #lb1, #lb2{
    background-color: rgb(241, 241, 241);
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: rgb(78, 78, 78);
    transition: 0.1s ease-out;
}

input[type="file"] {
    border: none;
}

input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(189, 58, 100);
    transition: 0.2s ease-in;
}

/* form .column {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
} */

#lb3 {
    background-color: rgb(241, 241, 241);
    position: relative;
    height: 50px;
    width: 8rem;
    margin-top: 8px;
    margin-bottom: 8px;
    outline: none;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 6px;
    padding: 0 15px;
    font-size: 1rem;
    color: rgb(78, 78, 78);
    transition: 0.1s ease-out;
}

#msg {
    width: 100%;
    max-width: 100%;
    margin-top: 8px;
    padding: 1rem;
    min-height: 10vh;
    max-height: 25vh;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    border: 1.5px solid rgb(206, 206, 206);
    font-size: 1rem;
    color: rgb(78, 78, 78);
    text-align: justify;
}

#result {
    text-align: right;
}

form #btn {
    height: 55px;
    width: 100%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.3s ease;
    background-color: rgb(189, 58, 100);
}

form #btn:hover, #vol:hover {
    background-color: rgb(223, 99, 138);
}

@media screen and (max-width: 500px) {
    form .column {
        flex-wrap: wrap;
    }
}